

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #000000;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 10px;
  background-color: #000000;
  position: relative;
}

.left {
  height: 100%;
  width: 20%;
  background-color: #121212;
  position: fixed;
  z-index: 999;
}

.left button,
.left a {
  font-size: 32px;
  color: #fff;
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  display: flex;
  padding: 20px;
  gap: 25px;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
}

.left button:hover,
.left a:hover {
  background-color: #333;
}

.left button p,
.left a p {
  font-size: 18px;
}

.right {
  width: 80%;
  height: 100%;
  background-color: #121212;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  position: relative;
  align-items: flex-start;
  left: 20%;

}

.right .musics {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.song {
  background-color: #252525;
  width: fit-content;
  align-self: flex-start;
  padding: 7px;
  border-radius: 7px;
  margin: 7px;
  position: relative;
  height: fit-content;

}

.song .text h5,
.song .text p {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song img {
  width: 100%;
  /* height: 150px;
  width: 150px; */
  object-fit: cover;
}

.song .playButton {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 80%;
  font-size: 50px;
  cursor: pointer;
  display: none;
}

.song .playButton i {
  color: green;
  background-color: black;
   border-radius: 50%; 
   border: none;
  
}
.song:hover .playButton{
  display: block;
}

audio {
  position: fixed;
  bottom: 0px;
  transform: translate(-50%, -50%);
  left: 60%;
  width: 50%;
  /* background-color: black; */
}
audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: #1c9328;
     color: #ffffff;
}

#searchsongname input {
  padding: 10px;
  color: black;
  font-size: 1vw;
  /* background-color: yellow; */
}

#searchsongname{
  /* display: none; */
  width: 100%;
  border-radius: 20px;
  /* background-color: red; */
  left: 5%;
  position: relative;

}

#logout{
  position: absolute;
  bottom: 40px;
}

#playlistcreate{
  display: none;
}

#subnone{
  display: none;
}

#likedbut{
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px;
}
#likedbut i{
  font-size:1.2vw;
}


#playlistcreate{
  /* display: none; */
  width: 100%;
  border-radius: 20px;
  /* background-color: red; */
  left: 5%;
  position: relative;
  /* padding: 10px; */

}
#playlistcreate input{
  padding: 10px;
  color: black;
  font-size: 1vw;
}
.play a{
  /* min-height: 10vh; */
  /* background-color: red; */
  width: 100%;
  font-size: 1.2vw;
  padding: 12px 20px 12px 50px;
}
#addbut button{
  color: black;
  padding: 5px;
}

#remove button{
  color: black;
  padding: 5px;
}

#recent{
  width: 100%;
  height: 100px;
  overflow-x: hidden;
  /* white-space:inherit; */
  /* background-color: red; */
  display: flex;
  gap: 10px;
  padding: 0px 0px 0px 10px;
}

.inbox{
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
display: grid;
}
.inbox h2{
  font-size: 1vw;
}
#likedsongheart i{
  color: red;
}